/* Variables */

:root {
	--primary: #fff;
	--dark: #222;
	--grey: hsl(0, 0%, 47%);
	--darkgray: hsl(0, 0%, 24%);
}

/* Core Styles */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Times New Roman', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--dark);
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
}


/* Navigation */

.navigation {
	position: fixed;
	background-color: var(--dark);
	border-bottom: 1px solid #434343;
	height: 62px;
}

.navigation-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-family: 'BrownPro Web Regular', sans-serif;
	line-height: 1rem;
	margin: 0 35px;
	padding: 0 40px;
}

.navigation-container h1 {
	display: block;
	font-style: normal;
	font-size: 1.5em;
	font-weight: 100;
	letter-spacing: .5rem;
	height: 33px;
	width: 177px;
}

.navigation-container ul {
	display: flex;
	flex-direction: row;
	text-align: center;
	list-style-type: none;
	justify-content: space-between;
	align-content: center;
	max-width: 580px;
	padding: 0;
}

.navigation-container li {
	margin-right: 16px;
	letter-spacing: 1px;
	font-size: 0.75em;
}

.navigation-container ul a {
	color: var(--primary);
	text-decoration: none;
	line-height: 33px;
	padding: 0 5px;
	font-size:  15px;
}
a.header {
	text-decoration: none;
}
a.header h1 {
	padding: 0;
	margin-top: 25px;
	font-size: 2rem;
	letter-spacing: 3px;
	color: var(--primary);
}

.btn-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	line-height: 1rem;
	margin: 0;
	height: 60px;
}

.btn-nav a {
	padding: 8px;
	margin-left: 10px;
	font-size: 0.72em;
	padding: 0 18px;
	line-height: 32px;
	border: 1px solid var(--primary);
	text-decoration: none;
	color: var(--primary);
}

/* Header */

.main-header {
	display: grid;
	grid-template-rows: 62px auto auto;
}

.header_container {
	grid-row-start: 2;
	align-items: center;
	width: 100%;
}

.main-article {
	grid-row-start: 3;
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	'big-pic vol2'
	'big-pic remaking';
	width: 100%;
}

/* Header Container */

.header_group {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	align-content: center;
	max-width: 1280px;
	margin: 0 35px;
	padding: 0 40px;
}

.header_group h1 {
	text-align: center;
	font-size: 53px;
	letter-spacing: 8px;
	margin: 0 0;
	line-height: 4.1875rem;
	font-family: 'BrownPro Web Regular', sans-serif;
	font-weight: 400;
}

.advertisement {
	display: flex;
	flex-direction: row;
	background-color: var(--darkgray);
	max-height: 98px;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
}

.advertisement img {
	max-width: 132px;
	justify-self: center;
}

.advertisement p {
	width: 600px;
	font-size: 21px;
	line-height: 28px;
	margin: 0;
	text-align: center;
	font-family: 'Portrait Regular', serif;
}

.btn-body {
	font-family: 'BrownPro Web Regular', 'Arial', serif;
	font-size: 15px;
	background-color: var(--primary);
	color: var(--dark);
	width: 15%;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
}

/* Main Article */

.main-article {
	max-width: 1280px;
	margin: 30px 35px;
	padding: 0 40px;
}

.big-pic {
	grid-area: big-pic;
	width: 780px;
	height: 1070px;
	background-image: url(img/header.jpg);
	background-size: 100%;
	background-position: center;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.card {
	display: block;
	background-color: rgba(30,30,30,0.9);
	max-width: 390px;
	padding: 25px;
}

.card h4 {
	font-size: 0.6875rem;
	line-height: 1.03125rem;
	font-family: BrownPro Web Regular, sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 5px 0;
}

.card h1 {
	font-size: 1.25rem;
	line-height: 1.875rem;
	padding: 0;
	margin: 0 0 5px 0;
}

.card p {
	padding: 0;
	margin: 0 0 5px 0;
	color: hsl(0, 0%, 47%);
}

.vol2 {
	display: grid;
	grid-area: vol2;
	width: 390px;
	background-color: var(--darkgray);
	height: 530px;
	align-content: center;
	justify-items: center;
}

.vol2 img {
	height: 400px;
	max-width: 100%;
}

.remaking {
	background-image: url(img/remaking-modern-tall.jpg);
	grid-area: remaking;
	background-size: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 390px;
	height: 520px;
}

.card2 {
	display: block;
	background-color: rgba(30,30,30,0.9);
	max-width: 390px;
	padding: 25px;
	margin: 20px;
}

/* Main Section */

.main_section {
	width: 100%;
	padding: 60px 40px 0 40px;
	display: flex;
	flex-direction: column;
	background-color: #303030; 
}

.main_gallery {
	width: 729px;
	margin: 0 auto;
	padding: 65px;
	text-align: center;
}

.main_gallery h1 {
	font-size: 36px;
}

.main_gallery p {
	font-size: 1.125rem;
	max-width: 493px;
	margin: 0 auto;
}

.buy_section {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
	max-width: 1245px;
	margin: 0 auto;
}

.subscribe, .volume_one, .volume_two {
	display: block;
	width: 325px;
	height: 496px;
	padding-right: 20px;
}

.subscribe, .volume_one, .volume_two img {
	max-width: 100%;
}

.btn-gallery {
	display: block;
	font-family: 'BrownPro Web Regular', 'Arial', serif;
	font-size: 15px;
	color: var(--primary);
	max-width: 100%;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	border: solid 1px var(--primary);
	margin-right: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}

.btn-gallery-active {
	display: block;
	font-family: 'BrownPro Web Regular', 'Arial', serif;
	font-size: 15px;
	color: var(--dark);
	background-color: var(--primary);
	max-width: 100%;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	margin-right: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}

.subscribe p {
	display: block;
	text-align: center;
	font-size: 15px;
	max-width: 100%;
	margin-right: 20px;
}

strike {
	color: var(--grey);
}

/* Follow Section */

.follow_wrapper {
	display: block;
	padding-top: 150px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.follow_wrapper h1 {
	font-size: 36px;
    letter-spacing: 3px;
	line-height: 1.25;
	text-transform: uppercase;
	padding: 0;
	margin: 0 auto;
}
.follow_wrapper a {
	text-decoration: none;
	color: var(--primary);
}

.insta_images {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	max-width: 100%;
	padding-top: 40px;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

.insta_images img {
	display: block;
	width: 285px;
	height: 285px;
	padding: 10px;
}

/* Footer Section */

.end_footer {
	background: url(img/footer-pattern-e45b22709aac1c2162267d74be4c49896a1987dcac3ff03371d3a2a4131b1f84.png) no-repeat bottom;
	padding: 0 40px 10px;
	z-index: 200;
	display: block;
}

.footer_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 1189px;
	height: 200px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	border-top: 1px solid var(--darkgray);
}

.about li a, .contact li a, .learn li a, .follow li a {
	text-decoration: none;
	list-style-type: none;
	color: var(--grey);
	font-family: sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 2;
	transition: color 0.3s ease-in-out;
	font-weight: 400;
	letter-spacing: 1px;
}

.about ul, .contact ul, .learn ul, .follow ul {
	padding: 0;
	list-style-type: none;
}

.about h1, .contact h1, .learn h1, .follow h1 {
	font-size: 16px;
	font-family: sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.about li a:hover, .contact li a:hover, .learn li a:hover, .follow li a:hover {
	color: var(--primary);
}

.logo_copyright {
	text-align: center;
	padding: 0;
	margin-bottom: 30px;
	font-family: sans-serif;
}

.logo_copyright h1 {
	font-size: 1.4em;
	font-weight: 100;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.logo_copyright p {
	margin-top: 10px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--grey);
}